<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>LOGIN</h1>
<form name='login' action="login" method='POST'>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type='text' name='username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'></td>
        </tr>
        <tr>
           <td> <input type="checkbox" id="notRobot" name="vehicle1" value="Bike">
                <label for="notRobot"> I am not a Robot</label></td>
        </tr>
        <tr>
            <td><button onclick="location.href='/dashboard'" type="button">
                Login</button></td>

            <td><button onclick="location.href='/register'" type="button">
                Register</button></td>
        </tr>
        <tr>
            <td><a th:href="@{/}">Forgot your password?</a></td>
        </tr>
    </table>
</form>
</body>
</html>